body {
	background: #000000;
	background-image: url("http://i.imgur.com/DwfSYzd.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
#header {
	font-family: Georgia, serif;
	font-size: 24px;
	background-color: #4377b1;
	padding: 3px 0px 3px 0px;
	letter-spacing: 2px;
	line-height: 28px;
	color: white;
	width: 840px;
	height: 30px;
	text-align: center;
	margin-left: 150px;
	margin-top: 75px;
	border-bottom: 10px solid #ffffff;
	border-right: 10px solid #4377b1;
	border-left: 10px solid #4377b1;
}
.textbox {
	height: 500px;
	width: 850px;
	margin-left: 150px;
	padding: 5px 5px 5px 5px;
	background: white;
	overflow: hidden;
	opacity: 50%;
	font-size: 12px;
	opacity: 0.5;
}
#box {
	height: 500px;
	padding: 5px 5px 5px 5px;
	overflow: auto;
}
#navigation {
	margin-left: 150px;
	height: 50px;
}
a.nav:link, a.nav:visited, a.nav:active {
	background-color: #71A6E3;
	font-size: 20px;
	line-height: 38px;
	font-family: monospace;
	display: inline-block;
	text-align: center;
	width: 277px;
	margin: 5px;
	font-weight: bold;
	height: 40px;
	color: white;
	overflow: hidden;
	padding: auto 3px auto 3px;
	text-decoration: none;
}
a.nav:hover {
	background-color: #6e9dd2;
	font-size: 24px;
	letter-spacing: 2px;
	text-decoration: none;
}
#footer {
	font-family: Georgia, serif;
	font-size: 24px;
	background-color: #4377b1;
	padding: 3px 0px 3px 0px;
	letter-spacing: 2px;
	line-height: 28px;
	color: white;
	width: 840px;
	height: 30px;
	text-align: center;
	margin-left: 150px;
	border-top: 10px solid #ffffff;
	border-right: 10px solid #4377b1;
	border-left: 10px solid #4377b1;
}
h1 {
	background: #71A6E3;
	padding: 5px 5px 5px 10px;
	font-family: monospace;
	color: white;
}
h2 {
	background: #71a6e3;
	font-family: monospace;
	padding: 5px 5px 5px 10px;
	color: white;
}
h3 {
	background: #71a6e3;
	font-family: monospace;
	padding: 5px 5px 5px 10px;
	color: white;
}
p {
	font-family: Lucida, sans-serif;
	text-indent: 10px;
}
i {
	color: #71A6E3;
}
b {
	color: #4377b1;
}